# IntealliJ

.idea
.metals
.vscode
.bloop
.bsp
target
package-lock.json


src/main/client/expenses/node_modules/*
src/main/client/expenses/.eslintcache
src/main/client/expenses/coverage
src/main/client/expenses/build/
src/main/resources/prod/*